.alert-wrap {
  position: fixed;
  top: 50px;
  right: 40px;
  max-width: 200px;
  z-index: 2;
}

.alert {
  padding: 1rem .7rem .2rem;
  margin: 2.5rem 0;
  opacity: 0.9;
  font-size: large;
  font-weight: 500;
  text-align: center;
  color: #fff;
  border-radius: .5rem;
  z-index: 2;
}

.alert-danger {
  background:rgb(255, 71, 71);
}

.alert-warning {
  background: rgb(255, 221, 0);
  color: #000;
}

.alert-success {
  background: rgb(25, 135, 84);
}