.form-control {
  display: block;
  color: #888;
  background-color: rgba(82, 129, 148, 0.658);
  padding: .4rem;
  margin-bottom: 1rem;
}

ul {
  border-radius: .4rem;
  background: rgba(82, 99, 148, 0.192);
  padding: 1rem 1rem .5rem 1rem;
}

.click-zone {
  background: rgba(82, 148, 134, 0.171);
  cursor: pointer;
}

.click-zone:hover {
  background: rgba(82, 98, 148, 0.308);
}