<app-upload [disabled]="showProgress" (uploadStatus)="uploadStatus($event)"></app-upload>
<h2>All files</h2>
<p *ngIf="showProgress"> progress <strong>{{percentage}}%</strong></p>
<label class="error" [hidden]="!showDownloadError">Error while downloading</label>
<label class="error" [hidden]="!showUploadError">Error while uploading</label>
<label class="error" [hidden]="!showDeleteError">Error while deleting</label>
<hr>
<div class="container">
  <div class="form-control form-control-lg">
    <input class="input-group border rounded" type="text" placeholder="Search..." [(ngModel)]="searchStr">
  </div>
  <ul *ngFor="let file of files | searchFiles:searchStr">
    <div class="click-zone p-2 rounded">
      <app-file [file]="file" (click)="getFile(file)"></app-file>
    </div>
    <app-download [disabled]="showProgress" [fileName]="file.name" (downloadStatus)="downloadStatus($event)"></app-download>
    <app-delete  *ngIf="user.roleId === 1 || user.id === file.userId" [disabled]="showProgress" [fileId]="file.id" (deleteStatus)="deleteStatus($event)"></app-delete>
    </ul>
</div>