<div style="height: 100vh;" *blockUI="'main-loader'; template: blockUiTemplateComponent">

<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark px-3">
    <a href="#" class="navbar-brand" *ngIf="!isUserLogin">FILE STORAGE</a>
    <a href="#" class="navbar-brand" *ngIf="isUserLogin">{{user.email}}</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="!isUserLogin" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!isUserLogin" routerLink="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.disabled]="isUser" *ngIf="isUserLogin && !isUser" routerLink="all-user-management">All Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isUserLogin" routerLink="user-management">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isUserLogin" routerLink="file-management">Files</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="onLogout()" *ngIf="isUserLogin" routerLink="login">LogOut</a>
      </li>
    </ul>
  </nav>

  <app-alert></app-alert>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

</div>