<div class="container">
  <div class="row justify-content-center">
      <div class="col-6">
        <div class="card">
          <form [formGroup]="registerForm" (submit)="onSubmit()">
            <div class="card-body">
              <h5 class="card-title text-center">Register</h5>
              <div class="mb-3 row">
                <label for="fullName" class="col-sm-2 col-form-label">Full name</label>
                <div class="col-sm-10">
                  <input type="text" formControlName="fullName" class="form-control" id="fullName" value="">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="text" formControlName="email" class="form-control" id="staticEmail" value="">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" formControlName="password" class="form-control" id="inputPassword">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Role</label>
                <div class="col-sm-2">
                  <div class="form-check" *ngFor="let role of roles; let index = index">
                    <input class="form-check-input" type="radio" name="{{role}}" [checked]="role.isSelected" (change)="OnRoleChange(role.role)" id="{{index}}">
                    <label class="form-check-label" for="{{index}}">
                      {{role.role}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid || !isRoleSelected">Register</button>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>
