<div class="container">
  <div class="row justify-content-center">
      <div class="col-10">
        <div class="card table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">FullName</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">File Ids</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userList">
                <td>{{user.fullName}}</td>
                <td>{{user.email}}</td>
                <td  *ngIf="user.roleId === 1">Admin</td>
                <td  *ngIf="user.roleId != 1">User</td>
                <td>{{user.filesIds.join(',')}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>


