.file-card {
  border-radius: .4rem;
  background: rgba(82, 99, 148, 0.192);
  padding: 1rem 1rem .5rem 1rem;
}

.switcher {
  margin: .5rem;
  padding: .3rem .3rem 0;
  border-width: .15rem;
  border-radius: .4rem;
  display: inline-block;
  cursor: pointer;
}

.true {
  border: solid green;
}

.false {
  border: solid red;
}

.marker {
  display: inline-block;
  color: white;
  font-weight: 500;
  text-align: center;
  padding: .25rem .5rem;
  margin: 0 .5rem .5rem auto;
}


.ownership {
  background: rgba(0, 128, 0, 0.897);
}

.public {
  background: rgba(59, 180, 184, 0.993);
}