<div *ngIf="file">
  <div *ngIf="file.userId === user.id" class="marker ownership rounded">Your file</div>
  <div *ngIf="file.isPublic" class="marker public rounded">Public</div>
  <div class="d-flex pb-2">
    <img class="icon" src="assets/icons/file_icon.png">
    <h4 class="flex-grow-1 mt-1">{{file.name}}</h4>
    <h6 class="flex-shrink-0 p-2">ID: {{file.id}}</h6>
    <h6 class="flex-shrink-0 p-2">Author ID: {{file.userId}}</h6>
  </div>
</div>

<div *ngIf="filepage" class="file-card mt-5">
  <p *ngIf="showProgress"> progress <strong>{{percentage}}%</strong></p>
  <label class="error" [hidden]="!showDownloadError">Error while downloading</label>
  <label class="error" [hidden]="!showUploadError">Error while uploading</label>
  <label class="error" [hidden]="!showDeleteError">Error while deleting</label>
  <hr>
  <div class="d-flex">
    <img class="icon" src="assets/icons/file_icon.png">
    <h4 class="flex-grow-1 mt-1">{{filepage.name}}</h4>
    <h6 class="flex-shrink-0 p-2">ID: {{filepage.id}}</h6>
    <h6 class="flex-shrink-0 p-2">Author ID: {{filepage.userId}}</h6>
  </div>
  <app-download [disabled]="showProgress" [fileName]="filepage.name" (downloadStatus)="downloadStatus($event)"></app-download>
  <app-delete *ngIf="user.roleId===1 || user.id === filepage.userId" [disabled]="showProgress" [fileId]="filepage.id" (deleteStatus)="deleteStatus($event)"></app-delete>
  <div *ngIf="user.roleId === 1 || user.id === filepage.userId" class="d-block">
    <div *ngIf="filepage.isPublic">
      <div class="switcher true" (click)="switcher()">
        <h6 class="p-1">Public</h6>
      </div>
      <img class="icon button" src="assets/icons/copy_icon.png" (click)="getLink()">
    </div>
    <div *ngIf="!filepage.isPublic" class="switcher false" (click)="switcher()">
      <h6 class="p-1">Private</h6>
    </div>
  </div>
</div>
