.container-upload {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.upload {
  background-color: #4CAF50;
  float: right;
  font-size: large;
  font-weight: bold;
  padding: .5em 2em;
  margin: 1em;
  border-radius: .3em;
}

.upload:hover {
  filter: brightness(85%)
}