/* You can add global styles to this file, and also import other style files */
@import "~node_modules/bootstrap/scss/bootstrap";

.block-ui-wrapper{
  background: transparent !important;
}

.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: .5em;
}

.button.disabled {
  opacity: 0.4;
  cursor: default;
}

.icon {
  width: 2em;
  height: 2em;
}

.card-container.card {
  max-width: 400px;
  padding: 40px 40px;
}

.card {
  background-color: #d0d7e0;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.container, #app {

}